@model WebApplication1.Models.Template

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Template</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receiver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receiver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Html)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Html)*@
            @Html.Raw(Server.HtmlDecode(Model.Html))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
